h1 {
    font-family: 'DM Serif Display', serif;
    padding: 0px;
    margin: 0px;
}
.holder{
    color: #fff;
    display: inline-block;
    justify-content: center;
    position: relative;
    font-size: 3vw;
}
#background{
    background-image: linear-gradient(#606C5D,#fffafa);
    background-color:#606C5D;
    height: 100%;
}
.navbar-custom {
    background-color:#fff4f4;
    color: #ffffff;
    z-index: 1; /* Set the z-index to make it appear on top of other content */
  }
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
}
